<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
 <div class="form">
        <div class="card border-primary text-center mt-5">
            <h2 class="card-title">Login Form</h2>
        </div>
        <form [formGroup]="userData" (ngSubmit)="checkData()"style="display:flex;flex-direction: column;">
            <div>
                <label for="uid" class="form-label">Enter User Id:</label>
                <input type="text" name="uid" id="uid" class="form-control" formControlName="userId">
            </div>
            <div>
            <label for="upass" class="form-label">Enter Password:</label>
            <input type="text" name="upass" id="upass" class="form-control" formControlName="userPass">
        </div>
       
        <button type="submit" class="btn btn-dark mt-3"  >&nbsp;Submit</button>&nbsp;&nbsp;
   
    </form>
</div >
</div></div>
 
