<div class="food-container">
    <div class="food-card combo">
    <img src="https://tse2.mm.bing.net/th/id/OIP.q3pWRi_Q6RhIbUJH7LKc2AHaFK?rs=1&pid=ImgDetMain" alt="Combo 1">
    <h2><strong>Pizzurgeria & Sips  🍔🍹</strong></h2>
    <p>Pizza, burger, and drink combo</p>
    
    </div>
    <div class="food-card combo">
    <img src="https://tse1.mm.bing.net/th/id/OIP.lVj8Y0rEcarH9Y5-bIOsYgHaIM?w=158&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Combo 2">
    <h2><strong>TacoTreats & Sips 🥧🍸</strong></h2>
    <p>Tacos, drink, and dessert combo.</p>
    
    </div>
    <div class="food-card combo">
    <img src="https://tse4.mm.bing.net/th/id/OIP.hNXsOEd4prKB134StpUh2wHaHa?w=155&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Combo 3">
    <h2><strong>Pasta Perks🥧🍹</strong></h2>
    <p>Pasta, salad, and juice combo.</p>
    
    </div>
    <div class="food-card combo">
    <img src="https://tse1.mm.bing.net/th/id/OIP.qsNhYct43RRGibsqkQ5kFAHaF-?w=226&h=182&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Combo 4">
    <h2><strong>Trio delight 🍟🥂</strong></h2>
    <p>Sandwich, fries, and soda combo.</p>
    
    </div>
    <div class="food-card combo">
    <img src="https://th.bing.com/th?id=OIP.jy_2n6ioX2gMho5vJCD7PgHaIP&w=237&h=263&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="Combo 5">
    <h2><strong>Meaty Feast 🥓</strong></h2>
    <p>Burger,chicken wings, and a side of ribs.</p>
    
    </div>
    <div class="food-card combo">
    <img src="https://tse4.mm.bing.net/th/id/OIP.npAyzKHKSPR71ZE-LkesJAHaHa?w=179&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Combo 6">
    <h2><strong>Surf nD Turf 🍣🥂 </strong></h2>
    <p>Salmon, rice, and wine combo.</p>
    
    </div>
    <div class="food-card combo">
    <img src="https://tse2.mm.bing.net/th/id/OIP.E06G3Xlw2fV8KmpWhlV-1AHaE7?w=250&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Combo 7">
    <h2><strong>Carnivore's Delight 🥩🍺</strong></h2>
    <p>Steak, mashed potatoes, and beer combo.</p>
    
    </div>
    <div class="food-card combo">
    <img src="https://tse2.mm.bing.net/th/id/OIP._7odslnkHC05m7FVwwi5iwAAAA?w=143&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Combo 8">
    <h2><strong>Meat Medley 🍲 🍹</strong></h2>
    <p>BBQ ribs, coleslaw, and iced tea combo.</p>
    
    </div>
    </div>
